.home_s{
    background-color: #f8ecdc;
}

.home_s .pop{
    font-size:32px;
    font-weight: 700;
    font-family:Georgia;
    margin:auto;
}

.home_s .line{
    width: 38%;
    margin-top: -20px;
    border: 1.5px solid black;
}
.home_s .line_2{
    width: 38%;
    border: 1.5px solid black;
    margin-left: auto;
}
.cards-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
  }
  
  .cont_principal {
    flex: 1;
    margin: 0 10px;
    transition: filter 0.3s;
  }
  
  .cont_principal.active {
    filter: none;
  }
  
  .cont_principal.blurred {
    filter: blur(5px);
  }
  /* Home.css */
.curd-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four equal columns */
    gap: 1rem; /* Adjust spacing between items */
  }
  
  .curd-item {
    padding-top: 1rem;
  }
  